<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Instructivo1</title>
</head>
<body>
   <h1>Instructivo de las empanadas de carne de osobuco</h1>
<img src="../img/empanada.png" alt="Imagen de empanaas de carne de osobuco" height="200px" width="500px">
   <h2>Ingredientes</h2>
<ul>
    <li>Tapas de empanadas</li>
    <li>1 cebolla</li>
    <li>2 dientes de ajo</li>
    <li>1/2 morron rojo</li>
    <li>2 rodajas de osobuco</li>
    <li>2 cucharadas de pure de tomate o 6 tomates secos</li>
    <li>1/2 vaso de vino</li>
    <li>2 tazas de caldo</li>
    <li>Condimentos:sal, pimienta, comino, pimenton, curry, pimienta, mostaza en grano y perejil</li>
    <li>1 chorizo chico</li>
</ul>

<h2>Preparacion</h2>
<iframe width="500" height="200" src="https://www.youtube.com/embed/HH4ec5SUjro" title="Como hacer EMPANADAS de carne de osobuco / Receta de empanadas de carne  - Paulina Cocina" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<ol type="1">
    <li>Poné en una sartén un buen chorro de aceite de oliva y salteá ahí la cebolla picada, el pimiento morrón y el ajo también picados. Podés ponerle un poco de sal para que se ablande.</li>
    <li>Cuando esté salteado agregá tomate seco picado. No hace falta que esté previamente hidratado ya que estará en contacto con el líquido por un buen tiempo. Revolver.</li>
    <li>Agregar las rodajas de osobuco y condimentar con sal, pimienta, pimentón (puede ser picante o no), curry, mostaza y comino. La mostaza yo se la pongo en grano molida con un molinillo de pimienta. Sino podés machacarla con un palo de amasar entre dos repasadores o en un mortero.</li>
    <li>Agragar el vino y el caldo, Tapar y cocinar en la olla de presion durante 1 hora aproximadamente</li>
    <li>Una vez que la carne esté lista, pasarla a un plato y aplastarla con un tenedor hasta que esté bien desmechada. Descartar los huesos (el caracú dejarlo) y los trozos grandes de grasa. Mezclar con lo que quedó en la olla y dejar enfriar.</li>
    <li>Rellenar las empanadas y hacer el repulgue.</li>
    <li>Hornear hasta que estén doradas, también pueden hacerse fritas.</li>
</ol>
</body>
</html>